body{
  
    background-image: url("pic1.nvg.webp");
    background-repeat: no-repeat;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Crimson Text', serif;
}
h1{
  text-align: center;
}

img {
    display: block;
    margin-right: auto;
    margin-left:  auto;
    width: 50%;
}
   
        .button {
background-color: #4CAF50; 
border: none;
color: white;
padding: 20px 40px;
text-align: center;
text-decoration: none;
display: inline-block;
border-radius: 6px;
font-size: 24px;
margin-left: 50px;
margin-right: 400px;
margin-bottom: 40px;

}
.button:hover {
background-color: plum; 
color: white;
}
p{word-spacing: 8px;
line-height: 20px;
border: 10px solid rgb(252, 131, 187);
padding: 25px;
}
.footer {
    position: static;
    left: 10;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(93, 201, 142);
    color: white;
    text-align: center;
    font-size: 24;
    padding: 1px 1px;
    overflow-x: hidden;
  }
  div {
    width: 100px;
    height: 100px;
    background-color: rgb(205, 27, 27);
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0% {background-color: rgb(99, 99, 239);}
    25% {background-color: rgb(202, 239, 116);}
    50% {background-color: rgb(250, 37, 200);}
    100% {background-color: rgb(250, 129, 37);}
  }

